{%- assign authors = page.authors %}
{%- if authors.size <= 0 %}
    {%- assign authors = page.author | split: "," %}
{%- endif %}


<footer class="page-info card">
    {%- if authors %}
    <section class="authors">
        {%- if authors.size == 1 %}
        <p>Written by {{ authors[0] }}</p>
        {%- else %}
        <h4>Written by:</h4>
        <ol class="authors-list   plain inline">
            {% for author in page.authors %}
            <li class="author">{{ author }}</li>
            {% endfor %}
        </ol>
        {%- endif %}
    </section>
    {%- endif %}
    
    {%- if page.categories %}
    <ol class="chips   plain   flex-row flex-wrap flex-horiz-center flex-vert-center">
        {% for category in page.categories %}
        <li><span class="chip" disabled data-category-name="{{ category }}">{{ category }}</span></li>
        {% endfor %}
    </ol>
    {%- endif %}
    
    <ol class="dates-and-times   plain">
        <li>
            <time class="date" datetime="{{ page.date | date_to_xmlschema }}">
                <span>{% if page.date-migrated or page.date-edit %}Originally posted{% else %}Posted{% endif %}</span> {{ page.date | date: "%F <span>(a %A)</span> at <span>%R %Z</span>" }}
            </time>
        </li>
        {% if page.date-migrated %}
        <li>
            <time class="date" datetime="{{ page.date-migrated | date_to_xmlschema }}">
                Migrated {{ page.date-migrated | date: "%F (a %A) at %R %Z" }}
            </time>
        </li>
        {% endif %}
        {% if page.date-edit %}
        <li>
            <time class="date" datetime="{{ page.date-edit | date_to_xmlschema }}">
                Updated {{ page.date-edit | date: "%F (a %A) at %R %Z" }}
            </time>
        </li>
        {% endif %}
    </ol>
    
    <footer class="oss-links">
        {% if page.original-url %}
        <a href="{{ page.original-url }}" title="View Original" target="_blank" class="low-emphasis button"><i class="material-icons">import_contacts</i> <span>View Original</span></a>
        {% endif %}
        
        {%- assign repoUrl = site.source-code.url | default: site.github.repository_url %}
        {%- if repoUrl %}
            {%- assign productionBranchName = site.source-code.productionBranchName | default: site.github.environment | default: "production" %}
            
            {%- assign historySubpathPrefix = site.source-code.eachPage.historySubpathPrefix %}
            {%- if historySubpathPrefix %}
        <a href="{{ repoUrl }}/{{ historySubpathPrefix }}/{{ productionBranchName }}/{{ page.path }}" title="Post History" target="_blank" class="low-emphasis button"><i class="material-icons">history</i> <span>History</span></a>
            {%- endif %}
            
            {%- assign editSubpathPrefix = site.source-code.eachPage.editSubpathPrefix %}
            {%- if editSubpathPrefix %}
        <a href="{{ repoUrl }}/{{ editSubpathPrefix }}/{{ productionBranchName }}/{{ page.path }}" title="Suggest an Edit" target="_blank" class="low-emphasis button"><i class="material-icons">edit</i> <span>Suggest an Edit</span></a>
            {%- endif %}
        {%- endif %}
    </footer>
    
    {% if page.sources.size > 0 %}
    <section id="Sources">
        <h1>Sources</h1>

        <ol class="source-list">
            {%- for source in page.sources %}
                {%- include Neon-Jekyll-Components/Page-Info/source-item.html
                    sources=sources
                %}
            {%- endfor %}
        </ol>
    </section>
    {%- endif %}
</footer>
