
<nav class="sidebar   flex-column flex-vert-space-between">
    <section>
        {%- unless include.emptyHeader -%}
        <header>
            <figure>
                {%- if include.headerImage -%}
                <img src="{{ include.headerImage.url }}" class="{{ include.headerImage.htmlClassNames }}"/>
                {%- else -%}
                No header image supplied; <code>emptyHeader</code> was not <code>true</code>
                {%- endif -%}
            </figure>
        </header>
        {%- endunless -%}
        <ul>
            {% for link in include.links %}
            <li><a href="{{ link.url }}" class="button">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
    </section>

    {%- for sectionInclude in include.additionalSectionIncludes -%}
    <section>
        {% include {{ sectionInclude }} %}
    </section>
    {%- endfor -%}

    <section>
        <ul class="theme-color-selection-list">
            <li><a href="#Brightness-Dark"  onclick="return false" title="Dark"  class="color-swatch" theme-swatch-type="brightness" theme-swatch-value="dark" >Dark</a></li>
            <li><a href="#Brightness-Light" onclick="return false" title="Light" class="color-swatch" theme-swatch-type="brightness" theme-swatch-value="light">Light</a></li>
        </ul>
        <ul class="theme-color-selection-list">
            <li><a href="#Theme-Water" onclick="return false" title="Water" class="color-swatch" theme-swatch-type="color" theme-swatch-value="water">Water</a></li>
            <li><a href="#Theme-Earth" onclick="return false" title="Earth" class="color-swatch" theme-swatch-type="color" theme-swatch-value="earth">Earth</a></li>
            <li><a href="#Theme-Fire"  onclick="return false" title="Fire"  class="color-swatch" theme-swatch-type="color" theme-swatch-value="fire" >Fire</a></li>
            <li><a href="#Theme-Air"   onclick="return false" title="Air"   class="color-swatch" theme-swatch-type="color" theme-swatch-value="air"  >Air</a></li>
       <!-- <li><a href="#Theme-Magic" onclick="return false" title="Magic" class="color-swatch" theme-swatch-type="color" theme-swatch-value="magic">Magic</a></li> -->
        </ul>
    </section>
</nav>
